<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.zahra.myapplication">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permisson.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true"/>

        <meta-data
            android:name="sqip.SQUARE_APPLICATION_ID"
            android:value="sandbox-sq0idb-FwcESer1C-Qf3-ojmwxpBg"/>

        <activity
            android:name=".VendorMainActivity"
            android:exported="false" />
        <activity
            android:name=".TestmapActivity"
            android:exported="false" />
        <activity
            android:name=".TimeSlotActivity"
            android:exported="false" />
        <activity
            android:name=".TestLinkActivity"
            android:exported="false" />
        <activity
            android:name=".ViewMarkerActivity"
            android:exported="false" />
        <activity
            android:name=".AddOpeningHoursActivity"
            android:exported="false" />
        <activity
            android:name=".AddLocationActivity"
            android:exported="false" />
        <activity
            android:name=".FormActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".BookingActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity
            android:name=".GoogleMapActivity"
            android:exported="false" />
        <activity
            android:name=".EditPlaygroundActivity"
            android:exported="false" />
        <activity
            android:name=".PlaygroundListActivity"
            android:exported="false" />
        <activity
            android:name=".PlaygroundDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterPlaygroundActivity"
            android:exported="false" />
        <activity
            android:name=".VendorSignupActivity"
            android:exported="false" />
        <activity
            android:name=".PlayerSignupActivity"
            android:exported="false" />
        <activity
            android:name=".VendorLoginActivity"
            android:exported="false" />
        <activity
            android:name=".PlayerLoginActivity"
            android:exported="false" />



        <activity
            android:name=".ChooseUserActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>